
Laboratorio#2/Problema_1/db/Problema1.quiproj.11304.rdr.flock
Laboratorio#2/Problema_2/db/Problema2.quiproj.11208.rdr.flock
Laboratorio#2/Problema_2/db/Problema2.quiproj.2972.rdr.flock
Laboratorio\#2/Problema_1/db/Problema1.quiproj.12044.rdr.flock
Laboratorio\#3/db/Laboratorio3.cbx.xml
Laboratorio\#3/db/Laboratorio3.cmp.rdb
Laboratorio\#3/db/Laboratorio3.db_info
Laboratorio\#3/db/Laboratorio3.hif
Laboratorio\#3/db/Laboratorio3.map.qmsg
Laboratorio\#3/db/Laboratorio3.map.rdb
Laboratorio\#3/db/Laboratorio3.pplq.rdb
Laboratorio\#3/db/Laboratorio3.pre_map.hdb
Laboratorio\#3/db/Laboratorio3.quiproj.12968.rdr.flock
Laboratorio\#3/db/Laboratorio3.sld_design_entry.sci
Laboratorio\#3/db/Laboratorio3.smart_action.txt
Laboratorio\#3/sources/paramCalculator.sv.bak
Laboratorio\#3/output_files/Laboratorio3.map.summary
Laboratorio\#3/output_files/Laboratorio3.map.smsg
Laboratorio\#3/output_files/Laboratorio3.map.rpt
Laboratorio\#3/output_files/Laboratorio3.flow.rpt
Laboratorio\#3/Laboratorio3.qsf
Laboratorio\#3/Laboratorio3.qpf
Laboratorio\#3/db/prev_cmp_Laboratorio3.qmsg
Laboratorio\#3/db/Laboratorio3.(0).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(0).cnf.hdb
Laboratorio\#3/db/Laboratorio3.ae.hdb
Laboratorio\#3/db/Laboratorio3.hier_info
Laboratorio\#3/db/Laboratorio3.lpc.html
Laboratorio\#3/db/Laboratorio3.lpc.rdb
Laboratorio\#3/db/Laboratorio3.lpc.txt
Laboratorio\#3/db/Laboratorio3.pre_map.cdb
Laboratorio\#3/db/Laboratorio3.rtlv.hdb
Laboratorio\#3/db/Laboratorio3.rtlv_sg.cdb
Laboratorio\#3/db/Laboratorio3.rtlv_sg_swap.cdb
Laboratorio\#3/db/Laboratorio3.sld_design_entry_dsc.sci
Laboratorio\#3/db/Laboratorio3.tmw_info
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.db_info
Laboratorio\#3/incremental_db/README
Laboratorio\#3/Laboratorio3.qws
Laboratorio\#3/Laboratorio3_nativelink_simulation.rpt
Laboratorio\#3/output_files/Laboratorio3.done
Laboratorio\#3/simulation/modelsim/Laboratorio3_run_msim_rtl_verilog.do
Laboratorio\#3/simulation/modelsim/Laboratorio3_run_msim_rtl_verilog.do.bak
Laboratorio\#3/simulation/modelsim/modelsim.ini
Laboratorio\#3/simulation/modelsim/msim_transcript
Laboratorio\#3/simulation/modelsim/rtl_work/_info
Laboratorio\#3/simulation/modelsim/rtl_work/_lib.qdb
Laboratorio\#3/simulation/modelsim/rtl_work/_lib1_0.qdb
Laboratorio\#3/simulation/modelsim/rtl_work/_lib1_0.qpg
Laboratorio\#3/simulation/modelsim/rtl_work/_lib1_0.qtl
Laboratorio\#3/simulation/modelsim/rtl_work/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_lnsim_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib1_0.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib1_0.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_lnsim_ver/_lib1_0.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_lnsim_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_mf_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_mf_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_mf_ver/_lib1_0.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_mf_ver/_lib1_0.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_mf_ver/_lib1_0.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_mf_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_ver/_lib1_0.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_ver/_lib1_0.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_ver/_lib1_0.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/altera_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_hssi_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_hssi_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_hssi_ver/_lib1_1.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_hssi_ver/_lib1_1.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_hssi_ver/_lib1_1.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_hssi_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_pcie_hip_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_pcie_hip_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_pcie_hip_ver/_lib1_1.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_pcie_hip_ver/_lib1_1.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_pcie_hip_ver/_lib1_1.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_pcie_hip_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_ver/_lib1_2.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_ver/_lib1_2.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_ver/_lib1_2.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/cyclonev_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/lpm_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/lpm_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/lpm_ver/_lib1_0.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/lpm_ver/_lib1_0.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/lpm_ver/_lib1_0.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/lpm_ver/_vmake
Laboratorio\#3/simulation/modelsim/verilog_libs/sgate_ver/_info
Laboratorio\#3/simulation/modelsim/verilog_libs/sgate_ver/_lib.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/sgate_ver/_lib1_0.qdb
Laboratorio\#3/simulation/modelsim/verilog_libs/sgate_ver/_lib1_0.qpg
Laboratorio\#3/simulation/modelsim/verilog_libs/sgate_ver/_lib1_0.qtl
Laboratorio\#3/simulation/modelsim/verilog_libs/sgate_ver/_vmake
Laboratorio\#3/simulation/modelsim/vsim.wlf
Laboratorio\#3/testbenches/paramCalculator_tb.sv.bak
Laboratorio\#3/sources/bin2bcd.sv.bak
Laboratorio\#3/simulation/modelsim/Laboratorio3_run_msim_rtl_verilog.do.bak1
Laboratorio\#3/simulation/modelsim/Laboratorio3_modelsim.xrf
Laboratorio\#3/simulation/modelsim/Laboratorio3.svo
Laboratorio\#3/simulation/modelsim/Laboratorio3.sft
Laboratorio\#3/output_files/Laboratorio3.sta.summary
Laboratorio\#3/output_files/Laboratorio3.sta.rpt
Laboratorio\#3/output_files/Laboratorio3.sof
Laboratorio\#3/output_files/Laboratorio3.sld
Laboratorio\#3/output_files/Laboratorio3.pin
Laboratorio\#3/output_files/Laboratorio3.jdi
Laboratorio\#3/output_files/Laboratorio3.fit.summary
Laboratorio\#3/output_files/Laboratorio3.fit.smsg
Laboratorio\#3/output_files/Laboratorio3.fit.rpt
Laboratorio\#3/output_files/Laboratorio3.eda.rpt
Laboratorio\#3/output_files/Laboratorio3.cdf
Laboratorio\#3/output_files/Laboratorio3.asm.rpt
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.rrs.cdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.rrp.hdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.kpt
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.hdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.hbdb.sig
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.hbdb.hdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.hbdb.hb_info
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.hbdb.cdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.dpi
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.map.cdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.rcfdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.logdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.hdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.hbdb.sig
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.hbdb.hdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.hbdb.cdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.dfp
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.cdb
Laboratorio\#3/incremental_db/compiled_partitions/Laboratorio3.root_partition.cmp.ammdb
Laboratorio\#3/db/sign_div_unsign_7kh.tdf
Laboratorio\#3/db/lpm_divide_42m.tdf
Laboratorio\#3/db/lpm_divide_1am.tdf
Laboratorio\#3/db/Laboratorio3_partition_pins.json
Laboratorio\#3/db/Laboratorio3.vpr.ammdb
Laboratorio\#3/db/Laboratorio3.tiscmp.slow_1100mv_85c.ddb
Laboratorio\#3/db/Laboratorio3.tiscmp.slow_1100mv_0c.ddb
Laboratorio\#3/db/Laboratorio3.tiscmp.fast_1100mv_85c.ddb
Laboratorio\#3/db/Laboratorio3.tiscmp.fast_1100mv_0c.ddb
Laboratorio\#3/db/Laboratorio3.tis_db_list.ddb
Laboratorio\#3/db/Laboratorio3.sta.rdb
Laboratorio\#3/db/Laboratorio3.sta.qmsg
Laboratorio\#3/db/Laboratorio3.routing.rdb
Laboratorio\#3/db/Laboratorio3.root_partition.map.reg_db.cdb
Laboratorio\#3/db/Laboratorio3.quiproj.11876.rdr.flock
Laboratorio\#3/db/Laboratorio3.map_bb.hdb
Laboratorio\#3/db/Laboratorio3.map.kpt
Laboratorio\#3/db/Laboratorio3.map.ammdb
Laboratorio\#3/db/Laboratorio3.fit.qmsg
Laboratorio\#3/db/Laboratorio3.eda.qmsg
Laboratorio\#3/db/Laboratorio3.cyclonev_io_sim_cache.tt_85c_slow.hsd
Laboratorio\#3/db/Laboratorio3.cyclonev_io_sim_cache.tt_0c_slow.hsd
Laboratorio\#3/db/Laboratorio3.cyclonev_io_sim_cache.ff_85c_fast.hsd
Laboratorio\#3/db/Laboratorio3.cyclonev_io_sim_cache.ff_0c_fast.hsd
Laboratorio\#3/db/Laboratorio3.cmp_merge.kpt
Laboratorio\#3/db/Laboratorio3.cmp.idb
Laboratorio\#3/db/Laboratorio3.asm.rdb
Laboratorio\#3/db/Laboratorio3.asm.qmsg
Laboratorio\#3/db/Laboratorio3.(7).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(7).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(6).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(6).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(5).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(5).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(4).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(4).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(3).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(3).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(2).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(2).cnf.cdb
Laboratorio\#3/db/Laboratorio3.(1).cnf.hdb
Laboratorio\#3/db/Laboratorio3.(1).cnf.cdb
Laboratorio\#3/db/alt_u_div_kse.tdf
Laboratorio\#3/db/.cmp.kpt
Laboratorio\#3/c5_pin_model_dump.txt
